
name: Flask Pipeline using Github Actions 

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: Setup-Python
        uses: actions/setup-python@v4
        with: 
          python-version: '3.9'

      - name: Install Flask dependency 
        run: pip install Flask 


      - name: Run simple test (lint)
        run: python -c "import flask; print('flask', flask.__version__)"
