
name: Flask Pipeline using Github Actions 

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup-Python
        uses: actions/setup-python@v4
        with: 
          python-version: '3.9'

      - name: Installing Docker
        uses: docker/setup-docker-action@v4

      - name: Building Docker Image
        run: docker build -t flask-app .

      - name: Run Docker Container
        run: docker run -d -p 5000:5000 --name flask-container flask-app
      
            

